In [1]:
import numpy as np
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/QuantizedInputTestSet.csv')
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,1.0,3.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-6.033320
1,0.0,0.0,1.0,1.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,-7.951870
2,0.0,0.0,0.0,1.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,-6.470030
3,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.741504
4,0.0,0.0,0.0,0.0,1.0,7.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,4.328340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.483321
163036,0.0,0.0,0.0,0.0,0.0,11.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.904030
163037,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.946580
163038,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,0.0,6.688010
163039,0.0,0.0,0.0,1.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.683700

In [3]:
df1.drop('y-local', axis=1, inplace=True)
df1.head()

     0    1    2    3    4    5    6    7    8    9   10   11   12
0  0.0  0.0  0.0  1.0  3.0  2.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  1.0  2.0  2.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  2.0  1.0  2.0  1.0  1.0  0.0  0.0  0.0  0.0
3  0.0  0.0  1.0  2.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  7.0  6.0  0.0  0.0  0.0  0.0  0.0  0.0

In [4]:
df2 = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan13_6regions/afterconvertingylocalTest.csv')
df2.head()

   y-local
0      7.0
1      0.0
2      6.0
3     29.0
4     49.0

In [5]:
mergePD = pd.concat([df1,df2], axis = 1, join="inner")
#mergePD.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/jan13_6regions/TestSetWithIntegerYLocal.csv',index=False)

In [6]:
mergePD

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,1.0,3.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0
1,0.0,0.0,1.0,1.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0
3,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
4,0.0,0.0,0.0,0.0,1.0,7.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0
163036,0.0,0.0,0.0,0.0,0.0,11.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
163037,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.0
163038,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,0.0,58.0
163039,0.0,0.0,0.0,1.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62.0

In [7]:
df_int= mergePD.astype(int)
df_int.to_csv('/uscms_data/d3/jieun201/YOURWORKINGAREA/jan14/1region_400/TestSetWithIntegerYLocal.csv',index=False)

In [8]:
df_int

        0  1  2  3  4   5  6  7  8  9  10  11  12  y-local
0       0  0  0  1  3   2  2  2  0  0   0   0   0        7
1       0  0  1  1  2   2  2  1  0  0   0   0   0        0
2       0  0  0  1  2   1  2  1  1  0   0   0   0        6
3       0  0  1  2  1   1  0  0  0  0   0   0   0       29
4       0  0  0  0  1   7  6  0  0  0   0   0   0       49
...    .. .. .. .. ..  .. .. .. .. ..  ..  ..  ..      ...
163035  0  0  0  1  1   1  1  0  0  0   0   0   0       33
163036  0  0  0  0  0  11  7  0  0  0   0   0   0       39
163037  0  0  0  2  1   0  0  0  0  0   0   0   0       39
163038  0  0  0  0  0   0  8  4  0  0   0   0   0       58
163039  0  0  0  1  6   7  0  0  0  0   0   0   0       62

[163040 rows x 14 columns]