In [1]:
import numpy as np
import pandas as pd
from pandas import read_csv
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/dec6_ds8/InputTestSet.csv')
df1

,y-local,0,1,2,3,4,5,6,7,8,...,263,264,265,266,267,268,269,270,271,272
0,-6.033320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-7.951870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-6.470030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.741504,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.328340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.483321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163036,1.904030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163037,1.946580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163038,6.688010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163039,7.683700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df1['y-local'].to_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/y-localTest.csv',index=False)

In [4]:
df1.drop('y-local', axis=1, inplace=True)
df1

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df2NP = np.array(df1)

In [6]:
df2NP[(df2NP < 400)] = 0
df2NP[(df2NP >= 400)] = 1

In [7]:
df2NP
backToPandas = pd.DataFrame(df2NP)
backToPandas

,0,1,2,3,4,5,6,7,8,9,...,263,264,265,266,267,268,269,270,271,272
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163036,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
def sumRow(X):
    sum1 = 0
    sumList = []
    for i in X:
        sum1 = np.sum(i,axis=0)
        sumList.append(sum1)
        b = np.array(sumList)
    return b

list1 = []
for index, row in backToPandas.iterrows(): 
#for index, row in df1.iterrows():   
    rowSum = 0.0
    X = row.values
    X = np.reshape(X,(13,21))
    rowSum = sumRow(X)
    list1.append(rowSum)
#list1

In [9]:
df_yProfile = pd.DataFrame(list1)
df_yProfile

         0    1    2    3    4     5    6    7    8    9    10   11   12
0       0.0  0.0  0.0  1.0  3.0   2.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0
1       0.0  0.0  1.0  1.0  2.0   2.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  0.0  0.0  1.0  2.0   1.0  2.0  1.0  1.0  0.0  0.0  0.0  0.0
3       0.0  0.0  1.0  2.0  1.0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       0.0  0.0  0.0  0.0  1.0   7.0  6.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...
163035  0.0  0.0  0.0  1.0  1.0   1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
163036  0.0  0.0  0.0  0.0  0.0  11.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0
163037  0.0  0.0  0.0  2.0  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
163038  0.0  0.0  0.0  0.0  0.0   0.0  8.0  4.0  0.0  0.0  0.0  0.0  0.0
163039  0.0  0.0  0.0  1.0  6.0   7.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[163040 rows x 13 columns]

In [10]:
df_yProfile.to_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/yProfileTest.csv',index=False)

In [11]:
dfA = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/yProfileTest.csv')
dfA

          0    1    2    3    4     5    6    7    8    9   10   11   12
0       0.0  0.0  0.0  1.0  3.0   2.0  2.0  2.0  0.0  0.0  0.0  0.0  0.0
1       0.0  0.0  1.0  1.0  2.0   2.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  0.0  0.0  1.0  2.0   1.0  2.0  1.0  1.0  0.0  0.0  0.0  0.0
3       0.0  0.0  1.0  2.0  1.0   1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       0.0  0.0  0.0  0.0  1.0   7.0  6.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...
163035  0.0  0.0  0.0  1.0  1.0   1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
163036  0.0  0.0  0.0  0.0  0.0  11.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0
163037  0.0  0.0  0.0  2.0  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
163038  0.0  0.0  0.0  0.0  0.0   0.0  8.0  4.0  0.0  0.0  0.0  0.0  0.0
163039  0.0  0.0  0.0  1.0  6.0   7.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[163040 rows x 13 columns]

In [12]:
dfB = pd.read_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/y-localTest.csv',usecols = ['y-local'])
dfB

         y-local
0      -6.033320
1      -7.951870
2      -6.470030
3      -0.741504
4       4.328340
...          ...
163035  0.483321
163036  1.904030
163037  1.946580
163038  6.688010
163039  7.683700

[163040 rows x 1 columns]

In [13]:
#now concatenate both dataframes since input will be: ysize and y_local
dfE = pd.concat([dfA,dfB],axis=1)
#dfE.to_csv('all.csv',index=False)
dfE

,0,1,2,3,4,5,6,7,8,9,10,11,12,y-local
0,0.0,0.0,0.0,1.0,3.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,-6.033320
1,0.0,0.0,1.0,1.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,-7.951870
2,0.0,0.0,0.0,1.0,2.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,-6.470030
3,0.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.741504
4,0.0,0.0,0.0,0.0,1.0,7.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,4.328340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163035,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.483321
163036,0.0,0.0,0.0,0.0,0.0,11.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,1.904030
163037,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.946580
163038,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,0.0,0.0,0.0,0.0,0.0,6.688010
163039,0.0,0.0,0.0,1.0,6.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.683700

In [14]:
dfE.to_csv('/uscms/home/jieun201/nobackup/YOURWORKINGAREA/jan14/1region_400/QuantizedInputTestSet.csv',index=False)